body {
    background: url('./background.jpg') no-repeat;
    background-size: cover;
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 'header'
                        'calendar'
                        'form';
}

.header-section {
    grid-area: header;
}

.weekdays-section {
    grid-area: calendar;
    position: relative;
    margin: auto;
}

.form-section {
    grid-area: form;
    background: red;
    padding-top: 5vh;
}

header h1 {
    position: relative;
    font-size: 3.5em;
    top: 30%;
    width: 45vw;
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 25%;
}



ul.weekdays-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'sun mon tues wed thurs fri sat';
    grid-gap: 1vw;
   
}

.weekdays-ul li.card{
    background: rgba(0, 0, 0, 0.5);
    width: 12vw;
    height: 35vh;
    border-radius: 10%;
}

.sunday-li {
    grid-area: sun;
}

.monday-li {
    grid-area: mon;
}

.tuesday-li {
    grid-area: tues;
}

.wednesday-li {
    grid-area: wed;
}

.thursday-li {
    grid-area: thurs;
}

.friday-li {
    grid-area: fri;
}

.saturday-li {
    grid-area: sat;
}

ul {
    list-style: none;
    padding: 0;
}

.option {
    display: none;
}

.workout-box {
    position: relative;
    margin: auto;
    width: 95%;
    border-radius: 10%;
}

.cardio {
    background: rgba(95, 182, 209, 0.322);
}

.strength {
    background: rgba(167, 112, 112, 0.438);
}

li.desc {
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: underline;
}

li.sets, li.reps, li.weight {
    font-size: 0.6em;
}



