body {
    background: url('./background.jpg') no-repeat;
    background-size: cover;
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
    text-align: center;
    align-content: center;
}

h1.title {
    width: 50vw;
    background: rgba(0, 0, 0, 0.322);
    margin: auto;
    border-radius: 25%;
}

ul {
    list-style: none;
}

.option {
    display: none;
}


